<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title><?= $title ?></title>

</head>
<div class="container">

	<body bgcolor="white">
		<p align="center">
			<img align="left" src="<?= base_url('assets/img/team/logo.png') ?>"
				style="position: absolute;  width: 90px; height: auto;">
			<b><br></br>
				<font face="Arial" color="black" size="4"> KEMENTERIAN PENDIDIKAN DAN KEBUDAYAAN
			</b><br></font>
			<font face="Arial" color="black" size="4"> <b> UNIVERSITAS NEGERI MAKASSAR (UNM) <b></font> <br>
			<font face="Arial" color="black" size="3"> <b>UPT TEKNOLOGI INFORMASI DAN KOMUNIKASI <b> </font> <br>
			<font face="Arial" size="1"> <i> Alamat: Jalan A.P.Pettarani, Menara Pinisi UNM Lt. 2 – wing B </i></font>
			<br>
			<font face="Arial" size="1"> <i> Telepon: (0411) 865677 Fax. (0411) 861377 </i></font> <br>
			<font face="Arial" size="1"> <i> Laman: ict.unm.ac.id </i></font>
		</p>

		<hr style="height: 3px;background-color: #000000; margin-top:-10px;">

		<p align="center" style=" margin-top:-10px ">
			<u>
				<font face="Arial" size="4"> BERITA ACARA PENGADUAN</font>
			</u> <br>
			<font face="Arial" size="2" style=" margin-top:-90px "> No. 12/PM /UNM /<?= date('Y') ?></font>
		</p>





		<font face="Arial">
			<p align="left" style="text-align: justify; ">
				Yang bertanda tangan dibawah ini:
			</p>
			<div class="ml-3">
				<table>
					<tr>
						<td width="100">Nama</td>
						<td>:</td>
						<td> HASMIRA </td>
					</tr>

					<tr>
						<td width="100">Jabatan</td>
						<td>:</td>
						<td> KAUR PEMERINTAHAN </td>
					</tr>
					<!-- <tr>
						<td width="100">Di</td>
						<td>:</td>
						<td>< $surat['tempat_lahir']; ?></td>
					</tr> -->
				</table>
			</div>

			<div class="ml-5"> Dengan ini menerangkan bahwa:</div>

			<div class="ml-3">
				<table>
					<tr>
						<td width="100">Nama</td>
						<td>:</td>
						<td><b>
								< $surat['nama']; ?>
							</b></td>
					</tr>
					<tr>
						<td width="100">Jenis Kelamin</td>
						<td>:</td>
						<td>
							< $surat['jenis_kelamin']; ?>
						</td>
					</tr>




				</table>
			</div>





			<p style="text-align: justify; margin-top:10px;">Berhubung dengan maksud yang bersangkutan diminta agar yang
				berwenang dapat memberikan bantuan serta fasilitas seperlunya .</p>
			<p align="left" style="text-align: justify; text-indent: 0.5in;">
				Demikian Surat Keterangan Lahir ini dibuat dan diberikan untuk dipergunakan seperlunya.
			</p>
			<br>
			<br>
			<br>

			<div align="right">Topore, < date('d F Y'); ?>&nbsp;</div>
			<div align="right">a.n Kepala Desa Topore </div>
			<div style="  text-indent: 74%;">Kaur Pemerintahan </div>
			<br>
			<br>
			<br>
			<p style="  text-indent: 80%;"><b>Kasmira</b></p>
		</font>

</div>
<!-- <script>
	window.print();
</script> -->

</body>

</html>
